/* Text Alignment Styles */
.ProseMirror .is-text-left {
  text-align: left;
}

.ProseMirror .is-text-center {
  text-align: center;
}

.ProseMirror .is-text-right {
  text-align: right;
}

.ProseMirror .is-text-justify {
  text-align: justify;
}
